body {
    margin: 0;
}

h1,
h2,
h3,
p,
a{
    margin: 0;
    text-decoration: none;
}
li {
    list-style-type: none; 
   }
ul {
    padding-left: 0;   
    margin:0; 
}

.top-info{
	border-bottom: 1px rgba(28, 41, 77, 0.15) solid;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.mob-container{
	margin: 0 auto;
	max-width: 360px;
}

.top-info .container{
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: : 1px grey solid;
	display: flex;
	justify-content: space-between;
}

.location{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
}

.contacts{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}

.top-info__item{
	display: flex;
	align-items: center;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	color: rgba(28, 41, 77, 0.8);
}
.contact__item{
	font-weight: 500;
}

.top-info__icon{
	margin-right: 8px;
}
.contact_info__icon{
	vertical-align: middle;
	margin-left: 6px;
}

.header{
	margin-top: 20px;
	margin-bottom: 20px;
}

.header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search{
	display: flex;
	width: 55%;
}

.logo-wr{
	width: 15%;
}
.logo{
	vertical-align: middle;
}

.search__bar{
	display: flex;
	align-items: center;
	width: 85%;
}

.search__btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22%;
	height: 40px;
	padding: 0;
	background: #FF7A00;
	border:none;
	border-radius: 0 5px 5px 0;

}
.search__btn span{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */
	margin-left: 6px;

	color: #FFFFFF;
}

.search__input{
	width: 78%;
	padding: 0 0 0 15px;
	background: #FFFFFF;
	border: 1px solid #DFE0E1;
	border-radius: 5px 0 0 5px;
	border-right: none;
	height: 38px;
}

.init-items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 25%;
}

.init__item{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	color: #1C294D;
}

.menu .container{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.burgir{
	max-width: 13px;
	max-height: 10px;
	margin-right: 8px;
}

.menu_list{
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__item a{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;

	color: #1C294D;
}
.sale__item a{ color: #FF283D;  }
.sale__item img, a{ vertical-align: middle; }
.sale__item img{ margin-right: 6px; }

.mob-header{
	display: none;
}

.mob-header .mob-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px auto;
}
.mob_burgig{width: 7%}
.mob_logo-wr{width: 15%}
.mob_basket{width: 7%}
.mob_search-bar{width: 65%}

.mob_search-bar{
	display: flex;
	justify-content: center;
}

.mob_search-bar .search_input{
	background: #F7F7F7;
	border-style: none;
	border-radius: 5px 0 0 5px;
	padding: 15px;
	width: 85%;
}

.mob_search-bar .search_img{
	width: 15%;
	display: flex;
	align-items: center;
	background: #F7F7F7;
	border-radius: 0 5px 5px 0;
}

.mob_basket .basket{
	width: 21px;
	height: 19px;
	vertical-align: middle;
}

@media(max-width: 768px)
{
	.top-info{display: none;}
	.header{display: none;}
	.menu{display: none;}
	.mob-header{display: block;}
}

.catalog{
	position: relative;
	/*display: none;*/
}
.container-wrap{
	position: absolute;
	width: 100%;
	height: 460px;
	left: 50%;
	z-index: 4;
  	transform: translateX(-50%);
	background-color: #fff;
}

.catalog .container{
	border-top: 2px solid rgba(28, 41, 77, 0.15);
	padding-top: 15px;
	pad-bottom: 40px;
}

.catalog_list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-height: 440px;
}
.catalog .main-category{font-weight: 700;}
.catalog li{margin-bottom: 12px;}
.catalog a{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #1C294D;
}

.discount{background-color: #E5E5E5;}
.discount .container{
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	padding-top: 30px;
}

.discounts{
	width: 65%;
	margin-right: 30px;

	display: flex;
	flex-direction: column;
}

.discount__slider_img{
	max-width: 750px;
	max-height: 350px;
	
}

.discount__slider{
	max-width: 750px;
	max-height: 350px;
	margin-bottom: 30px;
	position: relative;
}

.discount__slider .slick-arrow{
	position: absolute;
	top: 45%;
	z-index: 2; 
	font-size: 0; 
	background: #fff;
	border-radius: 10px;
	padding: 15px;

}
.discount__slider .prev-arrow{left: 25px;}
.discount__slider .next-arrow{right: 25px;}

.small-disc{
	display: flex;
	justify-content: space-between;
}

.small-disc .item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 41%;
	padding: 30px 25px;
	border-radius: 5px;
}
.disc-1{background-color:  #6D378F;}
.disc-2{background-color: #FFD8EF;}
.disc_description{
	font-family: 'Sofia Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
}
.disc-1 p{color: #FFFFFF; margin-right: 5px;}
.disc-2 p{color: rgba(28, 41, 77, 0.8); margin-right: 5px;}

.book-wrap{
	position: relative;
	width: 35%;
	/*height: 100%;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	border-radius: 5px;
	background-color: #fff;

	font-family: 'Roboto';
	font-style: normal;
}

.timer{
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 5px 10px;
	background: rgba(255, 122, 0, 0.15);
	border-radius: 5px;

	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #FF7A00;
}

.book-wrap .book_img{
	max-width: 167px;
	max-height: 250px;
	align-self: center;
	margin-bottom: 15px;
}
.book-otd{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	margin-bottom: 20px;
	color: #1C294D;
}
.book_field{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;

	margin-bottom: 8px;
	color: rgba(28, 41, 77, 0.5);
}
.book_title{
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;

	margin-bottom: 8px;
	color: #1C294D;
}
.book_author{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: -0.1px;

	margin-bottom: 8px;
	color: #1C294D;
}
.book_price{
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;

	margin-bottom: 12px;
	color: #1C294D;
}
.book_btns{display: flex;}

.btn_add{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 25px;

	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	border-radius: 5px;

	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	color: #1C294D;
	margin-right: 10px;
}
.btn_add img{margin-right: 12px;}
.btn_bookmark{
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	padding: 11px 15px;
}

.mob_discount{
	padding-top: 11px;
	background: #E5E5E5;
	display: none;
}

.mob_discount__slider{
	max-width: 355px;
	max-height: 175px;
	margin-bottom: 10px;
}

.mob_discount__slider_img{
	max-width: 355px;
	max-height: 175px;
}

.mob_discount_book-otd{
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.mob_discount_book-otd .book_img{
	max-width: 133px;
	max-height: 200px;
}

.mob_discount .small-disc{flex-direction: column;}
.mob_discount .small-disc .item{
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

@media(max-width: 768px)
{
	.discount{display: none;}
	.mob_discount{display: block;}
	.mob_discount .btn_add{width: 100%;}
}

.new-arrivals{background-color: #E5E5E5; padding-bottom: 30px;}

.new-arrivals .container{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	/*background-color: #E5E5E5;*/
	border-radius: 5px;
}

.slider_head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 25px;
	border-bottom: 1px solid rgba(28, 41, 77, 0.15);
	background-color: #fff;
	border-radius: 5px 5px 0 0;
}

.slider_head .title{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;

	color: #1C294D;
}

.slider_head .head_btns{
	display: flex;
	justify-content: center;
}

.slider_head .slick-btn{
	padding: 12px 13px;
	background-color: #fff;
	border: 1px solid rgba(28, 41, 77, 0.15);
}
.slick2-prev{border-radius: 5px 0 0 5px}
.slick2-next{border-radius: 0 5px 5px 0}

.published-soon_slider .book-wrap,
.new-arriv_slider .book-wrap{
	/*width: 24%;*/
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.book-wrap .labels{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.book-wrap .bestseller{color: #AC8EE3; background-color: #EEE9F7;}
.book-wrap .new{color: #3DC47E; background-color:  #E2F6EC;}
.book-wrap .one-plus-one{color: #FF4F52; background-color: #FFEEEE;}
.book-wrap .item{
	display: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	border-radius: 5px;
}

.new-arrivals .book-1 .bestseller,
.new-arrivals .book-4 .bestseller{display: block;}
.new-arrivals .book-1 .one-plus-one,
.new-arrivals .book-4 .one-plus-one{display: block;}
.new-arrivals .book-2 .new{display: block;}

.book-wrap .labels .item{
	padding: 5px 10px;
	margin-bottom: 10px;
}

.published-soon_slider,
.new-arriv_slider{
	width: 1140px;
}

.published-soon_slider .slick-slide,
.new-arriv_slider .slick-slide {
  border-right: 1px solid #ccc;
  /*width: 277px !important;*/
  border-radius: 0;
}

.published-soon_slider .slick-slide:nth-child(4),
.new-arriv_slider .slick-slide:nth-child(4) {
  border-right: none;
}

.recommend{
	display: flex;
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
}

.recommend .star,
.recommend .recom{
	display: flex;
	align-items: center;
	padding: 6px 10px;
	border-radius: 5px;
}
.recommend .star img,
.recommend .recom img{margin-right: 5px;}
.recommend .star{color: #FBC02D; background-color: rgba(251, 192, 45, 0.15); margin-right: 10px;}
.recommend .recom{color: #7986CB; background-color: rgba(121, 134, 203, 0.15);}

.show-all-books{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 11px;
	padding-bottom: 10px;
	border-top: 1px solid rgba(28, 41, 77, 0.15);

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;

	color: #1C294D;
}

.book-3 .price_prev{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: rgba(28, 41, 77, 0.5);
	text-decoration: line-through;
}

.book-3 .price_profit{
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;

	color: #0DB98C;
}
@media(max-width: 768px){
	.new-arrivals .container{margin: 0 auto; width: 360px; height: 650px;}
	.new-arrivals .book_img{max-height: 180px}
	.new-arriv_slider{width: 355px; min-height: 520px;}
	.published-soon_slider{width: 355px; min-height: 520px;}
	.recommend{flex-direction: column; align-items: start;}
	.recommend .star{margin-bottom: 8px;}
	.btn_add{
		padding: 10px 7px;
		margin-right: 5px;
		}
	.btn_add img{
		max-height: 15px;
		max-width: 17px;
	}
	.btn_bookmark{padding: 9px 13px;}
	.book-wrap{
		padding: 20px 10px;
		justify-content: space-between;
		min-height: 520px;
	}
}

.subscribe{
	padding-bottom: 30px;
	background: #E5E5E5;
}

.subscribe .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	box-sizing: border-box;
	background: #0288D1;
	border-radius: 5px;
}

.subscribe .subs_title{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #FFFFFF;
}

.subscribe .subs_input{
	flex-grow: 1;
	padding: 10px 15px;
	border-radius: 5px;
	border-style: none;
	height: 40px;
	box-sizing: border-box;
	margin-left: 12px;
	margin-right: 12px;
}

.subscribe .subs_btn{
	box-sizing: border-box;
	min-width: 137px;
	padding: 10px 25px;
	border-radius: 5px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	background: #0288D1;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

@media(max-width: 768px){
	.subscribe .container{
		width: 360px;
		flex-direction: column;
		align-items: stretch;
		padding: 20px 10px;
	}
	.subscribe .subs_input{	margin: 10px 0;}
}

.slick3-prev{border-radius: 5px 0 0 5px}
.slick3-next{border-radius: 0 5px 5px 0}

.advantages{
	background-color: #E5E5E5;
	padding-bottom: 30px;
}

.advantages .container{
	display: flex;
	justify-content: space-between;

}

.advantages .item{
	max-width: 23%;
	padding: 40px 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	font-family: 'Roboto';
	font-style: normal;
	border-radius: 5px;
}

.advant_title{
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
	color: #1C294D;
}
.advant_descr{
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	color: #727272;
}

@media(max-width: 768px){
	.advantages .container{
		flex-direction: column;
		margin: 0 auto;
		max-width: 360px;

	}
	.advantages .item{
		max-width: 100%;
		margin-bottom: 10px;
		padding-right: 18px;
	}
}

.slick4-prev{border-radius: 5px 0 0 5px}
.slick4-next{border-radius: 0 5px 5px 0}

.news{
	background-color: #E5E5E5;
	padding-bottom: 30px;
}

.news .item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 18px 30px 25px 20px;
	border-right: 1px solid rgba(28, 41, 77, 0.15);
	font-family: 'Roboto';
	font-style: normal;
	background-color: #fff;
	border-radius: 5px;
}

.news_slider img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.news_slider .img{margin-bottom: 8px;}

.news_slider .news_date{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: rgba(28, 41, 77, 0.5);
	margin-bottom: 5px;
}

.news_slider .news_title{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #1C294D;
	margin-bottom: 8px;
}

.news_slider .news_descr{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #1C294D;
	opacity: 0.8;
	margin-bottom: 12px;
}

.news_slider .news_btn{
	box-sizing: border-box;
	padding: 10px 60px;
	border: 1px solid rgba(28, 41, 77, 0.15);
	border-radius: 5px;
	max-width: 180px;
	background-color: #fff;
}

.news_slider .news_btn span{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	
}

@media(max-width: 768px){
	.news .container{
		margin: 0 auto;
		max-width: 360px;
	}
	.news .item{
		max-width: 100%;
		margin-bottom: 10px;
		padding-right: 18px;
	}
	.news_slider .news_btn{max-width: 100%}
}

.email-2{
	background: rgba(40, 47, 54, 0.04);;
	padding: 25px 0;
}

.email-2 .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.email-2 .search__bar{
	max-width: 37%;
}

.email-2 .media{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.email-2 .media-item{
	width: 40px;
	height: 40px;
	border: 1px solid rgba(40, 47, 54, 0.15);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.email-2 .media>*:not(:last-child) {
    margin-right: 15px;
}

.footer-catalog{
	padding: 45px;
	background-color: #fff;
}

.footer-catalog .container{
	display: flex;
	justify-content: start;
	border-bottom: 1px solid rgba(40, 47, 54, 0.15);	
	padding-bottom: 45px;
}

.footer-catalog .info-block{
	width: 17%;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto';
	font-style: normal;
}

.footer-catalog .info-block .blok_head{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #1C294D;
	margin-bottom: 24px;
}

.footer-catalog .info-block a{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(40, 47, 54, 0.8);
	margin-bottom: 15px;
}

.pdf-doc{
	display: flex;
	align-items: center;
}

.pdf-doc img{
	margin-right: 8px;
}

.pdf-doc .download{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(40, 47, 54, 0.8);
}

.pdf-doc .size{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: rgba(40, 47, 54, 0.5);
}

.footer_contacts{
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(28, 41, 77, 0.8);
	margin-bottom: 19px;
}

.footer_contacts img{
	margin-right: 8px;
}

.footer{
	margin-bottom: 45px;
}

.footer .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer .copy{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(28, 41, 77, 0.5);
}

.footer_links{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 66%;
}

.footer_links a{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;

	color: rgba(28, 41, 77, 0.8);
}
